@font-face{
    src: url(font/OpenSans-VariableFont_wdth\,wght.ttf);
    font-family: Open-sans;
}
@font-face {
    src: url(font/Capriola-Regular.ttf);
    font-family: Capriola;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open-sans;
    text-decoration: none;
}
.hero{
    background-image: linear-gradient(to right, #FEA000 60%,#FFAE00);
    height: 110vh;
    width: 100%;
    margin-bottom: 398px;
}
.hero_sec{
    padding: 30px;
    position: absolute;
    top: 20px;
    width: 95%;
    height: 90vh;
    background-color: rgba(196, 196, 196, 0.1);
    box-shadow:3px 1px 20px rgba(0, 0, 0, 0.3);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .logo{
    margin-left: 60px;
    width: 50%;
    height: 50%;
}
.nav ul{
    display: flex;
    margin-right: 200px;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    margin-right: 40px;
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 24px;
    padding: 10px 20px;
}
.nav>ul>li>a:hover{
    transition:.4s ease;
    color: white;
}
.container{
    padding: 20px;
    display: flex;
    align-items: center;
}
.col{
    flex: 50%;
    position: relative;
}
.container img{
    height: 600px;
    margin-left: 40px;
}
.container div{
    margin: 20px;
}
.container h2{
    color: #3E180A;
    font-family: Capriola;
    font-size: 80px;
}
.container p{
    color: white;
    margin-bottom: 40px;
}
.container h3{
    font-size: 36px;
    text-align: center;
    color: #3E180A;
}
.line{
    position: absolute;
    left: 316px;
    top: 315px;
    width: 140px;
    height: 3px;
    background-color: black;
}
.recent{
    position: absolute;
    top: 750px;
    left: auto;
    right: auto;
    bottom: auto;
    height: fit-content;
    width:100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    text-align: center;
    background: linear-gradient(to bottom, rgba(236, 236, 236, 0.25),rgba(255, 255, 255, 0));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid transparent;
    border-radius: 10px;
    z-index: 1;
    
}
.recent h2{
    
    text-align: center;
    font-size: 36px;
    color: rgba(47, 40, 40, 0.912);
}
.colum{
    float: left;
    width: 33.33%;
    padding: 20px;
}
.recent::after{
    content: "";
    display: table;
    clear: both;
}
.colum img{
    padding-bottom: 20px;
}
.colum h4{
    color: #EBC01D;
    font-weight: 400;
    display: inline-block;
    padding-right: 110px;
    text-align: left;
}
#ingredient{
    padding-left: 10px;
    padding-right: 130px;
}
#dessert{
    padding-right: 140px;
}
#health{
    padding-left: 20px;
}
.colum h3{
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding-left: 50px;
    padding-bottom: 10px;
    text-align: left;
}
/* About section */
.about{
    height: fit-content;
    background-image: url(asset/young-confident-afro-american-cook-chef-uniform-stands-white-wall-holds-hand-straight-isolated-orange-background-with-copy-space\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}
.about>div{
    margin: 0px 100px;
    padding-top: 18%;
    width: 40%;
}
.about p{
    font-size: 18px;
    font-weight: 400;
}
.about h3{
    font-size: 24px;
    font-weight: 400;
}
.about h3 span{
    font-size: 26px;
    font-weight: 600;
    color: #F89900;
}
#olowo span{
    font-size: 36px;
    font-weight: 600;
    font-style: italic;
    color: #3E180A;
}
#olowo{
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 36px;
    color: #3E180A;
}
#hit{
    padding-top: 70px;
    padding-bottom: 2px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #FEA600;
}
.line2{
    width: 145px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 410px;
}
.icon{
    text-align: center;
}
.icon img{
    padding: 5px 12px;
}
/* Blog section */
.blog{
    position: relative;
    margin: 100px;
    padding: 20px;
    /* background-color: aqua; */
}
.blog h3{
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 32px;
    line-height: 55px;
    text-align: center;
    color: #3E180A;
}
.story1{
    margin-bottom: 170px;
}
.row{
    position: absolute;
    top: 600px;
    left: 130px;
    background-color: white;
    padding: 20px 30px;
    width: 600px;
    border-radius: 20px;
    box-shadow: 3px 2px 15px rgb(0, 0, 0,0.3);
}
.row p{
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
}
.row2 small {
    font-size: 14px;
    font-weight: 400;
}
.row h6 {
    margin-top: 20px;
    color: #FFCE31;
    font-weight: 600;
    font-size: 14px;
}
.row a {
    text-decoration: none;
    color: black;
}
.row img {
    margin-top: 20px;
}
.line4{
   position: absolute;
   top: 72px;
   left: 700px;
    width: 300px;
    height: 4px;
    background-color: #FFA800;
}
.blog_cont{
    display: flex;
}
.leftcol{
    width: 50%;
    margin-right: 100px;
}
.rightcol{
    width: 30%;
}
.story{
    margin-bottom: 50px;
    border-radius: 20px;
    display: flex;
    background-color: white;
    box-shadow: 3px 2px 20px rgb(0, 0, 0,0.3);
    padding-right: 30px;
}
.row1{
    position: relative;
}
.row2{
    margin-left: 10px;
    padding: 70px 0;
}
.row2 small{
    font-size: 14px;
    font-weight: 400;
}
.row2 p{
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
}
.row2 img{
    margin-top: 20px;
}
.row2 h6{
    margin-top: 20px;
    color: #FFCE31;
    font-weight: 600;
    font-size: 14px;
}
.row2 a{
    text-decoration: none;
    color: black;
}
.category{
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 35px;
    background-color: #FFCE31;
    border-radius: 2px;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 24px;
}
.line3{
    margin-top: 5px;
    width: 75px;
    height: 2px;
    background-color: black;
}
.rightcol h4{
    font-size: 36px;
    font-weight: 600;
    line-height: 55px;
}
.line5{
    width: 150px;
    height: 2px;
    background-color: #FFCE31;
}
.rightcol div ul{
    margin-top: 10px;
    padding-left: 20px;
}
.rightcol div ul li{
    margin-bottom: 20px;
    border-bottom: 1px solid #FFCE31;
}
.rightcol div ul li a{
    color: black;
    font-size: 24px;
    font-weight: 400;
}
.rightcol div ul li::marker{
    color: #FFCE31;
    font-size: 30px;
}
#active,.rightcol div ul li:hover{
    margin-left: -20px;
    margin-bottom: 20px;
    padding: 10px;
    list-style-position: inside;
    box-shadow: 3px 3px 10px rgb(255, 206, 49,0.3);
}
.rightcol p{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
}
.vid{
    display: flex;
    flex-wrap: wrap;
}
.video{
    position: relative;
}
.play{
    position: absolute;
    top: 90px;
    left: 90px;
}
.rightcol div form input{
    margin-bottom: 20px;
    display: block;
    border: 1px solid rgba(255, 206, 49, 0.75);
    border-radius: 20px;
    width: 400px;
    height: 60px;
    font-size: 24px;
    padding: 10px;
}
.rightcol div form input::placeholder{
    font-size: 24px;
    font-weight: 400;
    color: black;
    padding: 20px;
}
.rightcol div form button{
    margin-left: 70px;
    background-color: #FFCE31;
    width: 257px;
    height: 67px;
    font-size: 24px;
    color: white;
    font-weight: 400;
    border-radius: 20px;
    border: 1px solid transparent;
    cursor: pointer;
}
.rightcol div form button:hover{
    transform: scale(1.1);
    transition: .4s ease-in-out;
    background-color: #ffc400;
}
/* follow me section */
.follow-me{
    padding: 20px;
}
.follow-me h3{
    color: #FF9D33;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.images{
    padding-left: 80px;
    align-items: center;
    justify-content: space-between;
}
.images img{
    padding: 10px 30px;
    
}
/* youtube section */
.yt_container{
    display: flex;   
}
.left{
    position: relative;
    width: 60%;
    padding-top: 100px;
    padding-left: 100px;
}
.right{
    width: 40%;
    margin-bottom: -5px;
}
.left h3{
    padding-bottom: 20px;
    font-size: 32px;
    font-weight: 600;
}
.left h1{
    color: #FFCE31;
    font-family: Capriola, sans-serif;
    font-size: 80px;
    font-weight: 400;
}
.left button{
    position: absolute;
    left: 25%;
    top: 75%;
    width: 293px;
    height: 71px;
    cursor: pointer;
    background-color: #ED1C24;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 34px;
    font-weight: 400;
    color: white;
    text-align: center;
}
.left button:hover{
    transform: scale(1.05);
    transition: .4s ease-in-out;
    background-color: #fc050d;
}
/* Footer section */
footer{
    background-color: #3E180A;
    padding-top: 50px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.top h1{
    color: white;
    font-family: Capriola, sans-serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 138px;
}
.navi ul{
    list-style: none;
    display: flex;
    margin: 10px;
}
.navi ul li{
    padding: 20px 30px;
}
.navi ul li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
}
hr.hor{
    border: 1px solid #FFCE31;
    margin: 10px 0;
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.copyright h3{
    padding-left: 10px;
    color: white;
    font-weight: 400;
    font-size: 24px;
    font-family: Capriola, sans-serif;
}
.social{
    text-align: center;
}
.social img{
    padding: 0px 25px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: Capriola;
}

/* Media Queries */
/* Big Screen */
@media screen and (max-width: 1800px ){
    .blog_cont{
        display: flex;
        flex-direction: column;
        
    } 
    .leftcol{
        width: 40%;
    
    }
    .rightcol{
        width: 40%;
    }
    .story{
        
        box-shadow: none;

    }
}
/* big tablet */
@media screen and (max-width: 1200px )  {
    .container h2{
        font-size: 48px;
        padding-bottom: 30px
    }
    .nav .logo {
        height:70px;
        width:70px 
    }
    .nav ul li a{
        font-size: 20px;
    }
    .container p {
        font-size:11px
    }
    .recent{margin-bottom: 10px;

    }
    .colum{
        width: 48%;
    }
    .about{
        background-image: none;
        background-color: #f9f8f1;
        padding-top: 400px;
    }
    .blog_cont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: auto;
        padding-right: auto;
    }
    .story{
        box-shadow: none;
    }
    .video{
     max-width: 400px;
     max-height: 400px;
    }

    
    
}
@media screen and (max-width: 990px ) {
    .left h1{
        font-size: 45px;
        font-weight: 400;
    }
    .top h1{
        font-size: 50px;
    }
    /* .left h1{
        font-size: 25px;
        font-weight: 150px;
    } */
    .navi ul li a{
        font-size: 18px
    }
}
@media screen and (max-width: 600px ) {
    .left h1{
        font-size: 25px;
        font-weight: 150px;
   
    }
}    